<?xml version="1.0"?>
<configuration>

    <appSettings>

        <!--获取归属地信息的数据源组件类型-->
        <!--<add key="sourceType" value="PhoneNumberLocation.DataSource.ShowJiSource"/>-->
        <add key="sourceType" value="PhoneNumberLocation.DataSource.BaiDuSource"/>

    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
